@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #666666;
  outline-offset: -2px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666666 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #333333;
}

*::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 5px;
  border: 0px none #ffffff;
}

.no-horizontal-scrollbar::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}
